<!DOCTYPE html>
<html lang="en">
  <head>
    <title>New goal Activity</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="/Users/nataliamarkova/Code_The_Dream/lessons/goal-planner/app/views/lives/css/custom.css">
  </head>
  <body id="home" data-spy="scroll" data-target=".navbar" data-offset="100">
  
    <!-- Page Content -->

    <p id="notice"><%= notice %></p>

    <!--jumbotron-->
    <h1 class = "jumbotron"> List of My lLife Tasks and Activities </h1>
    <!--/jumbotron-->

    

    <div class="media">
      <div class="media-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Life category</th>
              <th>Task or activity that you want to accomplish</th>
              <th>Notes</th>
            </tr>
          </thead>
        
          <tbody>
            <% @lives.each do |life| %>
              <tr>
                <td><%= life.life_category %></td>
                <td><%= life.life_name %></td>
                <td><%= life.life_activity %></td>
                <td><%= link_to 'Show', life %></td>
                <td><%= link_to 'Edit', edit_life_path(life) %></td>
                <td><%= link_to 'Delete', life, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>

<button type="button" class="btn btn-outline-primary"><%= link_to 'Create New Life Task', new_life_path %></button>

