<!DOCTYPE html>

<html lang="en">
  <head>
    <title>New goal Activity</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="/Users/nataliamarkova/Code_The_Dream/lessons/goal-planner/app/views/lives/css/custom.css">
  </head>
  <body id="home" data-spy="scroll" data-target=".navbar" data-offset="100">
  
    <!-- Page Content -->

    <p id="notice"><%= notice %></p>

    <!--jumbotron-->
    <h1 class = "jumbotron"> Recently Created Task </h1>
    <!--/jumbotron-->

    <div class="media">
      <div class="media-body">
        <div>
          <strong>Life category:</strong>
        </div>
        <div>
          <%= @life.life_category %>
        </div>

        <div>
          <strong>Task or activity that you chose to accomplish:</strong>
        </div>
        <div>
          <%= @life.life_name %>
        </div>

        <div>
          <strong>Notes and ideas that help you to complete task:</strong>
        </div>
        <div>
          <%= @life.life_activity%>
        </div>
          

<button type="button" class="btn btn-outline-primary"><%= link_to 'Create new life task', new_life_path %></button>

<button type="button" class="btn btn-outline"><%= link_to 'Edit', edit_life_path(@life) %></button>
<button type="button" class="btn btn-outline"><%= link_to 'Back', lives_path %></button>

