<!DOCTYPE html>
<html lang="en">
  <head>
    <title>New goal Activity</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="/Users/nataliamarkova/Code_The_Dream/lessons/goal-planner/app/views/lives/css/custom.css">
  </head>
  <body id="home" data-spy="scroll" data-target=".navbar" data-offset="100">
  
    <!-- Page Content -->

    <p id="notice"><%= notice %></p>

    <!--jumbotron-->
    <h1 class = "jumbotron"> The list of my goals </h1>
    <!--/jumbotron-->

    <div class="media">
      <div class="media-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Goal</th>
              <th>Start date: </th>
              <th>End date: </th>
              <th>Has the goal already achieved?</th>
              <th>Notes for this goal</th>
            </tr>
          </thead>
        
          <tbody>
            <% @goals.each do |goal| %>
              <tr>
                <td><%= goal.create_goal %></td>
                <td><%= goal.start_date %></td>
                <td><%= goal.end_date %></td>
                <%= goal.achieved %>
                <%= goal.note_goal %>
                <td><%= link_to 'Show', goal %></td>
                <td><%= link_to 'Edit', edit_goal_path(goal) %></td>
                <td><%= link_to 'Destroy', goal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>

<button type="button" class="btn btn-outline-primary"><%= link_to 'New Goal', new_goal_path %></button>

